@font-face {
  font-family: prstart;
  src: url('../fonts/prstart.ttf');
}
@font-face {
  font-family: zpix;
  src: url('../fonts/zpix.ttf');
}
body {
  font-family: prstart, zpix, monospace;
  font-size: 16px;
  background-color: black;
  margin-top: 30px;
}
#main {
  margin: 0 auto;
  width: 820px;
  color: white;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  position: relative;
}
#help {
  border-left: 4px solid white;
  margin-left: 20px;
  padding-left: 10px;
}
#help img {
  vertical-align: middle;
}
#help td {
  padding-left: 1em;
}
